<div class="container">
    <div class="col-12 mb-4 mt-4">
        <h2>Policy Listings:</h2>
    </div>

    <div class="col-12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Premium</th>
                    <th scope="col">Policy Type</th>
                    <th scope="col">Insurer Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let policy of dataSource;">
                    <td>{{ policy.customer_name }}</td>
                    <td>{{ policy.customer_address }}</td>
                    <td>{{ policy.premium }}</td>
                    <td>{{ policy.policy_type }}</td>
                    <td>{{ policy.insurer_name }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>